<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

</style>
<body>
<center>
<div class="bg-dark text-muted mt-5 pb-5 fs-6">
    <h5 class="pt-5">ELECTROZONE</h5>
    <p>The home and elements needed to create beautiful products.</p>
    <p>Follow us</p>
    <a class="pr-5 text-light" ><i class="fa-brands fa-facebook-f"></i></a>  <a class="pr-3 pl-3"><i class="fa-brands fa-twitter"></i></a>  <a style="color: #ff0d61;"><i class="fa-brands fa-instagram"></i></a>
</div>
</center>
</body>
</html>