<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8c4b7840cb.js" crossorigin="anonymous"></script>

  <meta charset="UTF-8">
<style>
  #a {

    height:600px;
    width:100%;
}
carousel inner{
height:600px;
    width:100%;
}
#l,#m,#n,#o{
height:180px;
 width:150px;
margin-top:150px;

}
#l{
margin-left:240px;
margin-right:80px;
}
#m{
margin-right:80px;
}
#n{
margin-right:80px;
}
#p,#q,#r,#s{
height:10px;
width:100px;
padding-top:10px;
}
#p{
margin-left:240px;
margin-right:80px;}

#t,#u{
margin-top:250px;

}
#v,#w{
margin-top:20px;
margin-bottom:150px;
}


#t,#v{
margin-left:350px;
padding-left:20px;
padding-top:10px;
padding-right:10px;
}

#u,#w{
margin-left:30px;
padding-left:20px;
padding-top:10px;
padding-right:10px;
}







  </style>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong " >
  <div class="container-fluid" >
    <a class="navbar-brand"  style="color:	black; font-family:Times New Roman">ELECTRO ZONE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="color:	black">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000" style="color:	black">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/about/" style="color:	black">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://127.0.0.1:8000/contact/"style="color:	black">Contact</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link active dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
            Login
          </a>
          <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <li><a class="dropdown-item" href="http://127.0.0.1:8000/shoplogin/" style="color:	black">Shop Login</a></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:8000/userlogin/" style="color:	black">User Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="a">
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <img style="height:600px; width:100%;" src="https://i.ytimg.com/vi/o1eoCYG7c0c/maxresdefault.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img style="height:600px; width:100%;" src="https://www.robot-advance.com/userfiles/www.robot-advance.com/images/jbl-boombox.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img style="height:600px; width:100%;" src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/1aaa138b-0cc2-4a44-8eba-312804d91605.__CR0,0,970,600_PT0_SX970_V1___.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>

<table>
<tr>
 <td>
<div id="l" class="shadow-lg">
  <img style="height:150px;width:150px;" src="https://m.media-amazon.com/images/I/718-cOKoBCL.jpg">
</div></td><td>
<div id="m" class="shadow-lg">
    <img style="height:150px;width:150px;" src="https://images.philips.com/is/image/PhilipsConsumer/TASH402LF_00-IMS-en_IN?$jpglarge$&wid=1250">
</div></td><td>
<div id="n" class="shadow-lg">
    <img style="height:150px;width:150px;" src="https://m.media-amazon.com/images/I/71U5OTwf+aL._SL1000_.jpg">
</div></td><td>
<div id="o" class="shadow-lg">
    <img style="height:150px;width:150px;" src="https://cdn.shopify.com/s/files/1/0997/6284/products/Frame20_9881146b-ff21-4de0-9afb-1e017d7171ea_grande.png?v=1675152404">
</div></td>
</tr>
<tr>
     <td>
<div id="p" >
  <p>Speakers</p>
</div></td><td>
<div id="q" >
    <p>Headphones</p>
</div></td><td>
<div id="r" >
<p>Waterproof</p>
</div></td><td>
<div id="s" >
    <p>True wireless</p>
</div></td>
</tr>
</table>
<table>
    <tr>
        <td >

<div id="t" class="border border-secondary">
    <h6> <i class="fa-solid fa-truck-fast fa-2x pe-2"></i> Free Shipping </h6>
  <p>Free Shipping for orders over $120</p>
</div></td><td>

        <div id="u" class="border border-secondary" ><h6><i class="fa-solid fa-sack-dollar fa-2x pe-2"></i> Refund  </h6>
    <p>Within 30 days for an exchange</p>
</div></td>
    </tr>

    <tr><td>

<div id="v" class="border border-secondary"><h6><i class="fa-solid fa-phone fa-2x  pe-2"></i>Support</h6>
<p>24 hours a day, 7 days a week</p>
</div></td><td>

<div id="w" class="border border-secondary"><h6><i class="fa-regular fa-credit-card fa-2x  pe-2"></i>Payment</h6>
    <p>Pay with Multiple Credit Cards</p>
</div></td>
</tr>

</table>


{% include "footer.html" %}
</body>
</html>